<launch>
    <include file="$(find cse180final)/launch/husky_final.launch"/>
    <include file="$(find cse180final)/launch/husky_localization.launch"/>
    <node pkg="finalproject" type="map_explorer" name="map_explorer"/>

    <node pkg="finalproject" type="scan_to_point_cloud" name="scan_to_point_cloud" 
        output="screen"/>

</launch>
